@font-face {font-family: "iconfont";
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABrwAAAKXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBSIE7ATYCJAMICwYABCAFhG0HLhvfBRHVkzFkX2HjGqAA0mxhcrO4U37aE3ToEHqgGfACBQAAAADEw//v922fd8//c8c0qaZZ0xzXECeRCEk8QWpEIqFAx6NYpPLh33Zvu0tKt+YSdJdwAklg+h3jxJ5plfNJJtrg+b/mXVsFYPGdRgH1IoKmm254ZfCfT9O2OdeTYmEj1EjOPqBCX0jbYXZZnpT6APjjmK9LTpB857u5ZAcOcLzzAO2yNdk+4x/GbiJ4gJcJ9Ji2KU5Gl/ugSmBWIO6svRrUgldKJ1GFdsPGFC9pavPc3/KC/3383opKo1WAhVePtnZw+M03yj3dWxSBD0Hf3kLBJpK42Ri9rAiHVPRE0zzHKgy+0RHVi6NqhPOvA/l9YFLnPhMP8x+VsQHJcHZwbtKbKUMQL1aq6FV1mnVbw7bZ9yW9ucesuua8fpTR3maa/fdHVaSqTmIi1moRy1n3nzJ5TrzG3VkcY5u8BYLBm2jeom6heZM+CTTxH5jVXxFH3WQxMQg4vVIcogPi/5PS/MvbjL7m8+Fq93UkeP/Kz4XD7NQz6sOfG5Q6Il0B0DYZsjuaA40d5Y4aevSgg+kc8XWqcvw2k6Eav1l7l6kMimoRmdhNaOm1DW3VAfTYcGZ7r1F3FZHdWPdYgzDkFTQGvIFiyDtkYr9Ay4S/0DYUBXrcjtEDey2HVUzXjErQgv5BYah1yCBTUXhF/6oV5wWc/ETuiwCkUVJO7LFFXmJJ//aZiAPH1MBOuw7rmqBjKtFIFES6PI5d05ciQ81gyppRCVrQPygMtY72lmnl91f0r1pxR8eI+YncF6NDGiUDkHtpO6jjUe7p3z4TceCYGthp47CuCbrmcSUaicKEcJfHsJsbKo22lzd/tw/oAJUbrCwmhywOBgA=') format('woff2'),
  url('iconfont.woff?t=1550545558432') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zi-icon-code:before {
  content: "\e600";
}

