@import "fonts/iconfont.css";

[class^='zi-icon-ex'], [class*=' zi-icon-ex'] {
  font-family:"iconfont" !important;
  font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

